* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  width: 100%;
  height: 100px;
  background-color: #05071e;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  background-color: #1b1933;
  width: 85%;
  height: 60px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 20px;
}
nav h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-size: 25px;
  font-style: normal;
  color: white;
}
#toplevelmenu {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #c8c6e3;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#toplevelmenu img {
  width: 25px;
  height: 25px;
}
#toplevelmenu li {
  display: flex;
  align-items: center;
  color: #c8c6e3;
}
#toplevelmenu a {
  text-decoration: none;
  color: #c8c6e3;
  &:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #524dd3;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
  }
}
nav button {
  background-color: #524dd3;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
}
#thirdlevelmenu {
  display: none;
}
#secondlevelmenu:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  text-decoration-color: #524dd3;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}
#secondlevelmenu:hover #thirdlevelmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 60px;
  line-height: 35px;
  background-color: #1b1933;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
#fourthlevelmenu:hover #fifthlevelmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 120px;
  left: 598px;
  background-color: #1b1933;
  line-height: 35px;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
}
#fifthlevelmenu {
  display: none;
}
#fifthlevelmenu li {
  color: #c8c6e3;
}
#thirdlevelmenu > li:hover {
  color: white;
  cursor: pointer;
}
#fifthlevelmenu li:hover {
  color: white;
  cursor: pointer;
}
#thirdlevelmenu li {
  display: flex;
  gap: 5px;
}
#home {
  height: 100vh;
  background-color: #05071e;
  color: white;
  display: flex;
  justify-content: center;
}
#homeleft {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  width: 560px;
  justify-content: center;
}
#homeleft > h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  color: white;
  font-size: 56px;
}
#homeleft p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
  color: #c8c6e3;
}

#homebutton1 {
  background-color: #524dd3;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 140px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    padding-top: 6px;
  }
}
#homebutton2 {
  background-color: transparent;
  color: #524dd3;
  font-size: 16px;
  height: 50px;
  width: 120px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: 2px solid #524dd3;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: #524dd3;
    cursor: pointer;
    padding-top: 6px;
  }
}
#homebuttons {
  display: flex;
  gap: 15px;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats {
  width: 500px;
}

.homestats {
  width: 140px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 5px;
  align-items: center;
}
.homestats h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #524dd3;
}
.homestats span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
#homeright {
  display: flex;
  align-items: center;
}
#homeright img {
  width: 635.98px;
  height: 430.41px;
}
#about {
  background-color: #02071b;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#aboutleft {
  width: 540px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#aboutleft li {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #e8e7f7;
}
#aboutleft ul {
  line-height: 40px;
}
#aboutleft img {
  width: 20px;
  height: 20px;
}
#aboutleft span {
  color: #524dd3;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}
#aboutleft h1 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}
#aboutleft p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
  color: #c8c6e3;
}
#aboutleft button {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 185px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  background-color: #524dd3;
  color: white;
}
#aboutstats {
  width: 300px;
  height: 100px;
  background-color: #1b1933;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  left: 390px;
  top: 170px;
  box-shadow: 0 0 5px 1px #c8c6e3;
}
.astats h1 {
  color: #524dd3;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}
.astats span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
#aimg2 {
  width: 90%;
  bottom: 200px;
  left: 40px;
  position: relative;
  z-index: 1;
  border: 5px solid #c8c6e3;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #c8c6e3;
}
#aimg1 {
  width: 43%;
  position: relative;
  z-index: 2;
  left: 10px;
  top: 255px;
  border: 3px solid;
  border-color: rgba(240, 248, 255, 0.517);
  border-radius: 8px;
  box-shadow: 0 0 5px 1px #c8c6e3;
}
#aboutright {
  width: 50%;

}
