* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
#navbar {
  width: 100%;
  height: 100px;
  background-color: #05071e;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  background-color: #1b1933;
  width: 85%;
  height: 60px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 20px;
}
nav h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-size: 25px;
  font-style: normal;
  color: white;
}
#toplevelmenu {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #c8c6e3;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#toplevelmenu img {
  width: 25px;
  height: 25px;
}
#toplevelmenu li {
  display: flex;
  align-items: center;
  color: #c8c6e3;
}
#toplevelmenu a {
  text-decoration: none;
  color: #c8c6e3;
  &:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #524dd3;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
  }
}
nav button {
  background-color: #524dd3;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
}
#thirdlevelmenu {
  display: none;
}
#secondlevelmenu:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  text-decoration-color: #524dd3;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}
#secondlevelmenu:hover #thirdlevelmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 60px;
  line-height: 35px;
  background-color: #1b1933;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
#fourthlevelmenu:hover #fifthlevelmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 120px;
  left: 598px;
  background-color: #1b1933;
  line-height: 35px;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
}
#fifthlevelmenu {
  display: none;
}
#fifthlevelmenu li {
  color: #c8c6e3;
}
#thirdlevelmenu > li:hover {
  color: white;
  cursor: pointer;
}
#fifthlevelmenu li:hover {
  color: white;
  cursor: pointer;
}
#thirdlevelmenu li {
  display: flex;
  gap: 5px;
}
#home {
  height: 100vh;
  width: 100%;
  background-color: #05071e;
  color: white;
  display: flex;
  justify-content: center;
}
#homeleft {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  width: 560px;
  justify-content: center;
}
#homeleft > h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  color: white;
  font-size: 56px;
}
#homeleft p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
  color: #c8c6e3;
}

#homebutton1 {
  background-color: #524dd3;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 140px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}
#homebutton2 {
  background-color: transparent;
  color: #524dd3;
  font-size: 16px;
  height: 50px;
  width: 120px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: 2px solid #524dd3;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: #524dd3;
    cursor: pointer;
    transform: translateY(-5px);
  }
}
#homebuttons {
  display: flex;
  gap: 15px;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats {
  width: 500px;
}

.homestats {
  width: 140px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 5px;
  align-items: center;
}
.homestats h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #524dd3;
}
.homestats span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
#homeright {
  display: flex;
  align-items: center;
}
#homeright img {
  width: 635.98px;
  height: 430.41px;
}
#about {
  background-color: #02071b;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#aboutleft {
  width: 540px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#aboutleft li {
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #e8e7f7;
}
#aboutleft ul {
  line-height: 40px;
}
#aboutleft img {
  width: 20px;
  height: 20px;
}
#aboutleft span {
  color: #524dd3;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}
#aboutleft h1 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}
#aboutleft p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
  color: #c8c6e3;
}
#aboutleft button {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 185px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  border: none;
  background-color: #524dd3;
  color: white;
}
#aboutstats {
  width: 300px;
  height: 100px;
  background-color: #1b1933;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  position: relative;
  z-index: 2;
  left: 390px;
  top: 170px;
  box-shadow: 0 0 5px 1px #c8c6e3;
}
.astats h1 {
  color: #524dd3;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  text-align: center;
}
.astats span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
#aimg2 {
  width: 90%;
  bottom: 200px;
  left: 40px;
  position: relative;
  z-index: 1;
  border: 5px solid #c8c6e3;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #c8c6e3;
}
#aimg1 {
  width: 43%;
  position: relative;
  z-index: 2;
  left: 10px;
  top: 255px;
  border: 3px solid;
  border-color: rgba(240, 248, 255, 0.517);
  border-radius: 8px;
  box-shadow: 0 0 5px 1px #c8c6e3;
}
#aboutright {
  width: 50%;
}

#services {
  background-color: #02071b;
  width: 100%;
  height: 200vh;
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  align-items: center;
}
.servicetop h2 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}
.servicetop span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 15px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
.servicetop {
  padding-top: 60px;
  height: 180px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
#servicemid {
  height: 680px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
}
.servicecard img {
  width: 50px;
  height: 50px;
}
.cardimg {
  width: 80px;
  height: 80px;
  background-color: #524dd3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.servicecard a {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}
.servicecard p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
  width: 300px;
  text-align: center;
}
.servicecard:last-child p {
  width: 290px;
}
.servicecard span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #524dd3;
  display: flex;
  align-items: center;
}
.servicecard span img {
  width: 18px;
  height: 18px;
}
.servicecard {
  width: 350px;
  height: 300px;
  background-color: #1b1933;
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  padding-top: 30px;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #322d5fb4;
  position: relative;
}
#servicefooter h3 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}
#servicefooter p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
#servicefooter button {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  width: 185px;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  border: none;
  background-color: #524dd3;
  color: white;
}
#servicefooter {
  height: 250px;
  width: 80%;
  background-color: #1b1933;
  border-radius: 25px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 25px;
  justify-content: center;
  align-items: center;
}
.servicecardbadge {
  position: absolute;
  z-index: 4;
  left: 200px;
  bottom: 285px;
  border: none;
}
.servicecardbadge button {
  background: linear-gradient(135deg, #ff6b6b, #ff8e53);
  height: 30px;
  color: white;
  border-radius: 20px;
  width: 120px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
}
#portfolio {
  width: 100%;
  height: fit-content;
  padding-bottom: 100px;
  background-color: #02071b;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 30px;
}
#portfoliobutton button:first-child {
  background-color: #524dd3;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 110px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: 2px solid #524dd3;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
  }
}
#portfoliobutton button:not(:first-child) {
  background-color: transparent;
  color: #c8c6e3;
  font-size: 14px;
  height: 40px;
  width: 110px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  border: 1px solid #c8c6e3be;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  transition: all 0.3s;

  &:hover {
    color: white;
    border: 2px solid #524dd3;
    cursor: pointer;
  }
}
#portfoliobutton {
  display: flex;
  justify-content: center;
  gap: 10px;
}
#portfoliobadge {
  margin-top: 30px;
  display: flex;
  column-gap: 30px;
  row-gap: 50px;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}
.pcard {
  height: max-content;
  width: 350px;
  background-color: #1b1933;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  position: relative;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(255, 253, 253, 0.215),
      0 2px 6px rgba(255, 253, 253, 0.215);
  }
}

.pcardcontents {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  padding-left: 20px;
}
.pcard:hover .pcardimg img {
  transition: all 0.3s;
  display: block;
  width: 50px;
  z-index: 2;
  background-color: #1b1933;
  height: 50px;
  padding: 12px;
  border-radius: 10px;
}
.pcard:hover .pcardimg img:hover {
  transition: all 0.3s;
  cursor: pointer;
  background-color: #524dd3;
  transform: translateY(-5px);
}
.pcard:hover .pcardimg {
  transition: all 0.3s;
  background-color: #514dd3d6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.pcardimg {
  height: 250px;
  width: 350px;
  display: flex;
  gap: 20px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.pcardimg > img {
  display: none;
}

.pcard > img {
  height: 250px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.pcardtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pcardtop img {
  width: 15px;
  height: 15px;
}
.pcardtop > span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #524dd3;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  width: fit-content;
  padding: 6px 12px;
  background-color: #322d5f8b;
}
.pcardtop button {
  width: 50px;
  font-size: 10px;
}
.pcardtopright {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-right: 25px;
}
.pcardtopright span {
  color: #fbbf24;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.pcard h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  color: white;
}
.pcard p {
  color: #c8c6e3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  width: 296px;
  line-height: 20px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.pcardbadges {
  display: flex;
  gap: 10px;
  column-gap: 15px;
}
.pcardbadges span {
  color: #c8c6e3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 12px;
  width: fit-content;
  background-color: #1e1f32;
  padding: 6px 12px;
  align-content: center;
  height: 30px;
  text-align: center;
  border: 1px solid #323346;
  border-radius: 10px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transition: all 0.3s;
  &:hover {
    color: #524dd3;
    cursor: pointer;
  }
}
#portfoliobadge .pcard:nth-child(5),
.pcard:nth-child(6) {
  transform: translateY(-22px);
  &:hover {
    transform: translateY(-37px);
  }
}
#portfoliofooter {
  height: 230px;
  width: 80%;
  background-color: #15162f;
  border-radius: 25px;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#portfoliofooter h4 {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 24px;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}
#portfoliofooter p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #a8a8ba;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.pfooterbtn {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  align-items: center;
}
.pfooterbtn button {
  height: 53px;
  width: fit-content;
  padding: 14px 28px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#pfooterbtn1 {
  background-color: #504ad2;
  color: white;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 15px 35px -10px #514ad2c9;
  }
}
#pfooterbtn2 {
  background-color: transparent;
  color: #504ad2;
  border: 2px solid #504ad2;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    background-color: #504ad2;
    color: white;
    box-shadow: 0px 15px 35px -10px #514ad2c9;
  }
}
#whyus {
  width: 100%;
  height: fit-content;
  padding-bottom: 100px;
  background-color: #02071b;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 50px;
}
#wheader {
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}
#wheader h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
}
#wheader p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  color: #e8e7f7;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#wbadges {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
}
.wcard {
  margin-top: 30px;
  width: 380px;
  height: 430px;
  background-color: #131428;
  border-radius: 30px;
  display: flex;
  row-gap: 20px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  &:hover {
    border: 1px solid #5c50d9;
    transform: translateY(-5px);
  }
}
.wcard img {
  width: 90px;
  height: 90px;
  background-color: #5c50d9;
  padding: 16px;
  border-radius: 20px;
  border: 10px solid #2b275f;
}
.wcard h4 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 24px;
  color: white;
  font-style: normal;
}
.wcard p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  text-align: center;
  line-height: 25px;
  width: 297px;
  color: #a2a0b3;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.wcard hr {
  border: 1px solid #28293d;
  width: 340px;
}
#sone {
  color: #524dd3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 32px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#stwo {
  color: #9393a4;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#wspan {
  display: flex;
  flex-flow: column wrap;
  row-gap: 2px;
  align-items: center;
}
#wfooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#wimg {
  width: 40%;
  height: fit-content;
}
#wfright > h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  color: white;
  font-size: 32px;
  font-style: normal;
  width: 450px;
  line-height: 40px;
}
#wfright {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#wfright > p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: #afbac2;
  font-size: 18px;
  font-weight: 350;
  width: 550px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
}
.wfrightlist {
  display: flex;
  column-gap: 20px;
}
.wfrightlist img {
  width: 60px;
  height: 60px;
  background-color: #13143f;
  border-radius: 20px;
  padding: 10px;
}
.wfrightcontent {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
.wfrightcontent h5 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  color: white;
  font-size: 18px;
  font-style: normal;
}
.wfrightcontent p {
  color: #bbbacc;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 500;
  width: 450px;
  line-height: 25px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#wbutton {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
}
#wbutton button:first-child a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#wbutton button:first-child {
  background-color: #5e50da;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 10px #514dd367;
  }
}
#wbutton button {
  padding: 15px 30px;
  height: fit-content;
  width: fit-content;
  border-radius: 30px;
  border: none;
}
#wbutton button:nth-child(2) a {
  text-decoration: none;
  font-size: 16px;
  color: #524dd3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#wbutton button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #524dd3;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #524dd3;
    transform: translateY(-3px);
  }
  &:hover a {
    color: white;
  }
}
#testimonials {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  row-gap: 70px;
  background-color: #02071b;
  align-items: center;
}
#theader h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 32px;
  color: white;
  font-style: normal;
}
#theader p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #bbbacc;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#theader {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  align-items: center;
}
.tcard {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  row-gap: 20px;
  padding: 32px;
  background-color: #131428;
  border-radius: 20px;
  border: 2px solid #13133c;
  border-top: 4px solid #524dd3;
}

.tcardheader {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  align-items: center;
}
.tcardhleft img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
}
.tcardhright {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
.tcardhrightcontent {
  display: flex;
  flex-flow: column wrap;
  row-gap: 5px;
}
.tcardhright span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  color: #868698;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.tcardhrightimg {
  display: flex;
  flex-flow: row wrap;
}
.tcardhrightimg img {
  height: 14px;
  width: 14px;
}
.tcardhright h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  color: white;
  font-weight: 700;
  font-style: normal;
}
.tcardbody p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #c8c7d8;
  line-height: 30px;
  font-style: normal;
  width: 280px;
  font-variation-settings: "wdth" 100;
}
.tcardbody {
  position: relative;
}
.tcardbodyimg {
  width: 48px;
  height: 48px;
  background-color: #5b4fd9;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 12px;
  bottom: 110px;
}
.tcardbodyimg img {
  width: 20px;
  height: 20px;
}
.tcard > hr {
  border: 1px solid #252439;
  width: 100%;
}
.tcardfleft {
  background-color: #191a39;
  width: fit-content;
  height: fit-content;
  padding: 8px 12px;
  border-radius: 10px;
}
.tcardfleft img {
  width: 14px;
  height: 14px;
}
.tcardfleft span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: #524dd3;
  font-size: 13px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.tcardfooter {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.tcardfleft {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 5px;
}
.tcardfright {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 5px;
}
.tcardfright img {
  height: 16px;
  width: 16px;
}
.tcardfright span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  color: #10b37e;
  font-size: 12px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#tbadge {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 40px;
}
#team {
  padding-top: 120px;
  width: 100%;
  height: fit-content;
  padding-bottom: 20px;
  background-color: #02071b;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 40px;
}
#teamheader h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  color: white;
}
#teamheader p {
  color: #e8e7f7;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#teamheader {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
#teambodyleft h3 {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30.4px;
}
#teambodyleft p {
  color: #c6c5d6;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  width: 500px;
  line-height: 25px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.tbspan span:first-child {
  color: #524dd3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 32px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.tbspan span:last-child {
  color: #8d8ea0;
  font-size: 14.4px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.tbspan {
  display: flex;
  flex-flow: column wrap;
}
.tbspan span {
  text-align: center;
}
#teambodyspan {
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
}
#teambodyleft {
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}
#teambody {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
  column-gap: 220px;
}
.timg > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 48% 52% 55% 45% / 38% 40% 60% 62%;
  transition: all 0.3s;
}
.timg {
  width: 150px;
  height: 150px;
}
#teambodyright {
  display: flex;
  flex-flow: column wrap;
  row-gap: 50px;
  transform: translateX(-80px);
}
.teambodyrighth {
  display: flex;
  flex-flow: row wrap;
  column-gap: 50px;
  position: relative;
}
.tbg {
  opacity: 0;
  background-color: #514dd3d0;
  height: 150px;
  width: 150px;
  position: relative;
  z-index: 2;
  border-radius: 48% 52% 55% 45% / 38% 40% 60% 62%;
}
.timg > img {
  transform: translateY(-150px);
}
.teambodyrighth .timg:last-child {
  transform: translateY(50px);
}
.tcontent {
  opacity: 0;
  color: white;
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  align-items: center;
}
.tcontent1 {
  transform: translateY(-280px);
}
.tcontentlogos {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}
.tcontentlogos img {
  height: 32px;
  width: 32px;
  background-color: #02071b;
  padding: 6px;
  border-radius: 100%;
}
.tcontent h5 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 17.6px;
  color: white;
  width: 100px;
  text-align: center;
  font-style: normal;
}
.tcontent span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 14px;
  color: white;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.timg:first-child {
  transition: all 0.3s;
  &:hover {
    transform: rotate(10deg) scale(1.2);
  }
}
.timg:last-child {
  transition: all 0.3s;
  &:hover {
    transform: rotate(10deg) translateY(50px) scale(1.2);
  }
}
.timg:hover {
  transition: all 0.3s;
  cursor: pointer;
}
.timg:hover .tbg {
  transition: all 0.3s;
  opacity: 1;
}
.timg:hover .tcontent {
  transition: all 0.3s;
  opacity: 1;
}
.timg:hover .tcontentlogos img:hover {
  transition: all 0.3s;
  background-color: white;
  cursor: pointer;
}
#teamfooter h4 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 28.8px;
  color: white;
}
.teamfootercard {
  width: 320px;
  height: fit-content;
  background-color: #131428;
  border-radius: 20px;
}
.tfimg img {
  width: 320px;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tfcontent h5 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20.8px;
  color: white;
}
.tfcontent span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14.8px;
  color: #524dd3;
  transform: translateY(-10px);
}
.tfcontent p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14.4px;
  color: #a8a8ba;
  line-height: 23px;
  text-align: center;
}
.tfcontentlogo {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: #191a39;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.tfcontentlogo img {
  width: 20px;
  height: 20px;
}
.tfcontentlogos {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}
.tfcontent {
  padding: 25px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
}
#teamfooterbadge {
  display: flex;
  flex-flow: row wrap;
  column-gap: 30px;
  justify-content: center;
}
.tfcontentlogo:hover {
  transition: all 0.3s;
  background-color: white;
  transform: translateY(-5px);
  cursor: pointer;
}
.teamfootercard:hover {
  transition: all 0.3s;
  cursor: pointer;
  transform: translateY(-10px);
}
#teamfooter {
  padding-top: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 80px;
}
#teamend {
  width: fit-content;
  height: fit-content;
  padding: 40px;
  border-radius: 30px;
  background-color: #090b27;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 30px;
  margin-top: 30px;
  border: 1px solid #1c1b53;
  background: radial-gradient(
      circle at top right,
      rgba(99, 95, 210, 0.256),
      transparent 15%
    ),
    linear-gradient(#0b0e2a, #0b0e2a);
}
.teamendimg {
  width: 80px;
  height: 80px;
  background-color: #151643;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.teamendimg img {
  width: 32px;
  height: 32px;
}
#teamendbutton {
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
}
#teamendbutton button:first-child a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#teamendbutton button:first-child {
  background-color: #5e50da;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 10px 10px #514dd367;
  }
}
#teamendbutton button {
  padding: 12px 24px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  border: none;
}
#teamendbutton button:nth-child(2) a {
  text-decoration: none;
  font-size: 16px;
  color: #524dd3;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#teamendbutton button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #524dd3;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #524dd3;
    transform: translateY(-3px);
  }
  &:hover a {
    color: white;
  }
}
#teamend h4 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 29px;
}
#teamend p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #a2b1cd;
  font-size: 17px;
  width: 600px;
  text-align: center;
}
#contact {
  padding-top: 100px;
  background-color: #02071b;
  width: 100%;
  height: fit-content;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  row-gap: 40px;

}
#contactheader h2 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 32px;
  font-style: normal;
  color: white;
}
#contactheader p {
  color: #e8e7f7;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#contactheader {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
#contactbodyleft {
  box-shadow: 0px 30px 50px 1px #5244d33f;
  height: fit-content;
  width: fit-content;
  padding: 30px;
  border-radius: 20px;
  background-color: #131428;
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  align-items: center;
  border: 2px solid #191a39;
  border-top: 4px solid #524dd3;
}
#contactbodyleftimg {
  width: 60px;
  height: 60px;
  background-color: #5450d7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
#contactbodyleftimg img {
  width: 28px;
  height: 28px;
}
#contactbodyleft h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: white;
}
#contactbodyleft p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #e8e7f7;
  width: 400px;
  text-align: center;
  line-height: 23px;
}
#formheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 20px;
}
input,
textarea {
  height: fit-content;
  border-radius: 16px;
  width: 95%;
  outline: none;
  border: 1px solid #2d2e41;
  background-color: transparent;
  padding: 16px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
}
#formheader input {
  width: 45%;
}
input::placeholder,
textarea::placeholder {
  color: #7b7c8e;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 15px;
}
textarea {
  height: 100px;
}
input:focus,
textarea:focus {
  border: 2px solid #524dd3;
}
label {
  display: none;
}
#contactbodyleft button {
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 16px 30px;
  background-color: #534ed5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 95%;
  border-radius: 16px;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }
}
#contactbodyleft button img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-out;
}
#contactbodyleft button span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  color: white;
}
#contactbodyleft button:hover img {
  transition: all 0.3s;
  transition-timing-function: ease-out;
  transform: translateX(5px);
}
#contactbody {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  justify-content: center;
}
#contactbodyright {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}
#contactbodyrightbadge{
  margin-top: 50px;
}
.contactcard {
  width: 95%;
  height: fit-content;
  padding: 24px;
  background-color: #131428;
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #191a39;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 10px 50px -5px #5244d362;
  }
}
.contactcard:hover .contactcardimg {
  background-color: white;
}
.contactwrapper > h3 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 32px;
}
.contactwrapper {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}
.contactwrapper > p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #a6adcc;
  width: 600px;
  line-height: 25px;
}
.contactcardimg {
  width: 50px;
  height: 50px;
  background-color: #191836;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactcardimg img {
  width: 20px;
  height: 20px;
}
.contactcardcontent h5 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 16px;
}
.contactcardcontent p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #e8e7f7;
  font-size: 15px;
  transform: translateY(-3px);
}
.contactcardcontent span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #7d7e90;
  font-size: 13px;
}
.contactcardcontent {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
#contactbodyrightbadge {
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
}
.contactcard1 {
  width: 95%;
  height: fit-content;
  padding: 30px;
  background-color: #131428;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  column-gap: 40px;
  align-items: center;
  border-radius: 30px;
  background: linear-gradient(
    135deg,
    color-mix(in srgb, #5244d3, transparent 96%),
    color-mix(in srgb, #5244d3, transparent 92%)
  );
}
.statitem {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
.statnumber {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #524dd3;
  font-size: 24px;
  text-align: center;
}
.statlabel {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 13px;
  color: #a5a6ba;
}
.connect {
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;

}
.connect h6 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 14px;
}
.connectimg {
  padding: 8px;
  width: 40px;
  height: 40px;
  background-color: #131428;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  transition: all 0.3s;
  &:hover {
    background-color: white;
    cursor: pointer;
    transform: translateY(-3px);
  }
}
.connectimg img {
  width: 25px;
  height: 25px;
}
.connectimgs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 15px;
}
#footer {
  width: 100%;
  height: fit-content;
  padding-bottom: 30px;
  background-color: #01020e;
  display: flex;
  flex-flow: column wrap;
  row-gap: 20px;
  align-items: center;
}
#footertop {
  padding: 50px 12px 0px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
#footertopleft > span {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 26px;
  padding-bottom: 10px;
}
#footeraddress p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 14px;
}
.fcontact {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  font-size: 14px;
}
.footerimg {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #77777e;
}
.footerimg img {
  width: 50%;
}
#footerlogos {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}
#footertopleft {
  display: flex;
  flex-flow: column wrap;
  row-gap: 25px;
  justify-content: center;
}
#footeraddress,
#footercontact {
  display: flex;
  flex-flow: column wrap;
  row-gap: 8px;
}
.footerlist h4 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 16px;
}
.footerlist ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 14px;
  color: #b3b4b7;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: #5244d3;
  }
}
.footerlist {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}
.footerlist ul {
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
}
#footertopright {
  display: flex;
  flex-flow: row wrap;
  column-gap: 80px;
}
#footer hr {
  border: 1px solid #1b1c27;
  width: 85%;
}
#footerbottom p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  color: white;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}
#footerbottom > span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: 13px;
  color: white;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
#footerbottom>span a{
  text-decoration: none;
  color: #5244d3;
}
#footerbottom{
  display: flex;
  flex-flow: column wrap;
  row-gap: 15px;
  align-items: center;
}