* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  width: 100%;
  height: 100px;
  background-color: #05071e;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  background-color: #1b1933;
  width: 85%;
  height: 60px;
  border-radius: 30px;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  top: 20px;
}
nav h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-size: 25px;
  font-style: normal;
  color: white;
}
#toplevelmenu {
  display: flex;
  gap: 30px;
  list-style: none;
  color: #c8c6e3;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#toplevelmenu img {
  width: 25px;
  height: 25px;
}
#toplevelmenu li {
  display: flex;
  align-items: center;
  color: #c8c6e3;
}
#toplevelmenu a {
  text-decoration: none;
  color: #c8c6e3;
  &:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #524dd3;
    text-decoration-thickness: 3px;
    text-underline-offset: 7px;
  }
}
nav button {
  background-color: #524dd3;
  color: white;
  font-size: 14px;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
}
#thirdlevelmenu {
  display: none;
}
#secondlevelmenu:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
  text-decoration-color: #524dd3;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}
#secondlevelmenu:hover #thirdlevelmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 60px;
  line-height: 35px;
  background-color: #1b1933;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
}
#fourthlevelmenu:hover #fifthlevelmenu {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 120px;
  left: 598px;
  background-color: #1b1933;
  line-height: 35px;
  width: 200px;
  padding: 20px;
  border-radius: 8px;
}
#fifthlevelmenu {
  display: none;
}
#fifthlevelmenu li {
  color: #c8c6e3;
}
#thirdlevelmenu > li:hover {
  color: white;
  cursor: pointer;
}
#fifthlevelmenu li:hover {
  color: white;
  cursor: pointer;
}
#thirdlevelmenu li {
  display: flex;
  gap: 5px;
}
#home {
  
  height: 100vh;
  background-color: #05071e;
  color: white;
  display: flex;
  justify-content: center
}
#homeleft {
  display: flex;
  flex-flow: column wrap;
  row-gap: 40px;
  width: 560px;
  justify-content: center;
}
#homeleft > h1 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;
  color: white;
  font-size: 56px;
}
#homeleft p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 30px;
}

#homebutton1 {
  background-color: #524dd3;
  color: white;
  font-size: 16px;
  height: 50px;
  width: 140px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: none;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    padding-top: 6px;
  }
}
#homebutton2 {
  background-color: transparent;
  color: #524dd3;
  font-size: 16px;
  height: 50px;
  width: 120px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border: 2px solid #524dd3;
  transition: all 0.3s;

  &:hover {
    color: white;
    background-color: #524dd3;
    cursor: pointer;
    padding-top: 6px;
  }
}
#homebuttons {
  display: flex;
  gap: 15px;
}
.stats {
  display: flex;
  justify-content: space-between;
}
.stats{
  width: 500px;
}

.homestats{
  width: 140px;
  display: flex;
  flex-flow: column wrap;
  row-gap:5px;
  align-items: center;
}
.homestats h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #524dd3;
}
.homestats span {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #c8c6e3;
}
#homeright{
  display: flex;
  align-items: center;
}
#homeright img{
  width: 635.98px;
  height: 430.41px;
}
#about{
  background-color: #02071b;
  height: 100vh;
  width: 100%;
  color: white;
}